/* CSS Doc*/

.jumbotron {
  background-color: white;
}

#about, #register, #volunteer, #schedule, #sponsers, #contact{
  padding: 80px;
}

h1, h2, a, p, td {
  font-family: 'IM Fell Double Pica SC', serif;
}

.faq > ul > li {
  padding-bottom: 20px;
}

.btn {
  font-family: 'IM Fell Double Pica SC', serif;
  color: white;
}

.nav > li > a {
    font-family: 'IM Fell Double Pica SC', serif;
    color: white;
}

/* Fade in text*/
.magic {
  display: none;
}

.faq {
  font-family: serif;
  font-size: 1.5em;
  text-align: left;
  min-width: 500px;
}

/* Schedule */
table {
  border-collapse: collapse;
  width: 100%;
	line-height: 200%;
}

tr {
  border-bottom: 1px solid #ccc;
  font-size: 1.5em;
}

th {
  text-align: left;
}

td {
	font-weight: 700;
}

.content {
  max-width: 650px;
	margin: 0 auto;
	padding: 50px 0;
	height: 100%;
	background-color: white;
}

#two {
	margin-top: 80px;
}

.gallery {
  text-align: center;
}

.column {
  display: inline;
  vertical-align: middle;
  margin: 0 auto;
}

.column:after {
    clear: both;
}


#bloomberg {
  padding: 50px;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
  .faq { min-width: 250px;}
}
