/* CSS Doc*/

body {
  background: #C0C0C0;
}

.jumbotron {
  background: white;
}


h1, h2 {
  font-family: 'IM Fell Double Pica SC', serif;
}

.btn .btn-info a {
  font-family: serif;
  color: white;
}

.nav .navbar-nav li a {
    font-family: 'IM Fell Double Pica SC', serif;
    color: white;
}
